In [39]:
FMI_station_names = ["lighthouse", "Harmaja", "Suomenlinna aaltopoiju", "Kumpula", "Kaisaniemi" ]
FMI_station_years = [2003, 1989, 2016, 2005, 1844]

FMI_station_names.append("Malmi airfield")
FMI_station_names.append("Vuosaari harbour")
FMI_station_names.append("Kaivopuisto")

FMI_station_years.append(1937)
FMI_station_years.append(2012)
FMI_station_years.append(1904)

def combine_and_sort(list_1, list_2):
  comb = list(zip(list_1,list_2))
  comb_l = []
  for i in comb:
    i = list(i)
    comb_l.append(i)
  sorted_comb = sorted(comb_l, key=lambda x:x[1], reverse=True)
  return sorted_comb

res = combine_and_sort(FMI_station_names, FMI_station_years)
print(res)

FMI_station_names.sort()
print(FMI_station_names)

FMI_station_years.sort(reverse=True)
print(FMI_station_years)






#FMI_station_years.sort(reverse = True)
#FMI_station_years

[['Suomenlinna aaltopoiju', 2016], ['Vuosaari harbour', 2012], ['Kumpula', 2005], ['lighthouse', 2003], ['Harmaja', 1989], ['Malmi airfield', 1937], ['Kaivopuisto', 1904], ['Kaisaniemi', 1844]]
['Harmaja', 'Kaisaniemi', 'Kaivopuisto', 'Kumpula', 'Malmi airfield', 'Suomenlinna aaltopoiju', 'Vuosaari harbour', 'lighthouse']
[2016, 2012, 2005, 2003, 1989, 1937, 1904, 1844]

### Problem 2

In [43]:
Month = ["January","February", "March", "April", "May", "June", "July","August","September","October","November","December"]
Temperature = [-3.5, -4.5, -1.0, 4.0, 10.0, 15.0, 18.0, 16.0, 11.5, 6.0, 2.0, -1.5]

for i in range(len(Month)):
  print(f"The average temperature in Helsinki in {Month[i]} is {Temperature[i]}")

True
The average temperature in Helsinki in January is -3.5
The average temperature in Helsinki in February is -4.5
The average temperature in Helsinki in March is -1.0
The average temperature in Helsinki in April is 4.0
The average temperature in Helsinki in May is 10.0
The average temperature in Helsinki in June is 15.0
The average temperature in Helsinki in July is 18.0
The average temperature in Helsinki in August is 16.0
The average temperature in Helsinki in September is 11.5
The average temperature in Helsinki in October is 6.0
The average temperature in Helsinki in November is 2.0
The average temperature in Helsinki in December is -1.5